<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ontrackteam.point-of-sale-api-response</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ontrackteam-url-scheme</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>64</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9e6c89792eeed7fad055fe80dea4ae4219ec2b6c</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>square-commerce-v1</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiYW5kcmVpb3BhbmFzZW5rbyIsImEiOiJjamJuZjloajA1NjQ2MnlxZnltaDJ5bHZ3In0.YzEQzj1f0S08-yojLZbIOQ</string>
	<key>NFCReaderUsageDescription</key>
	<string>Ability to scan nfc</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>OnTrack needs access to your camera for qr code scans</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>OnTrack tracks your location for event statistics</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>OnTrack tracks your location for event statistics</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>OnTrack tracks your location for event statistics</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mic</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>OnTrack requires access to your photos to upload any incidents</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
